.rjf-add-button {
    background: url(./img/icon-addlink.svg) 0 1px no-repeat;
    padding-left: 16px;
    font-size: 12px;
    color: #447e9b;
    cursor: pointer;
    margin-top: 8px;
    border: 0px none;
}
.rjf-add-button:hover {
    color: #036;
    background-color: #f0faff;
}

.rjf-form-group-wrapper {
    position: relative;
    width: 100%;
    max-width: 39em;
}
.rjf-form-group {
    margin-bottom: 15px;
    position: relative;
    width: 100%;
    max-width: 39em;
}
.rjf-form-group-wrapper > .rjf-form-group {
    max-width: 100%;
}
.rjf-form-group-inner {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 0 2px rgba(0,0,0,0.075);
    transition: background-color 0.12s ease-in-out;
}
.rjf-form-group-title {
    font-weight: bold;
}
.rjf-form-row {
    padding: 5px 0;
    display: table;
    width: 100%;
    position: relative;
}
.rjf-form-row-inner {
    transition: background-color 0.12s ease-in-out;
    padding: 5px;
}

.rjf-form-row input,
.rjf-form-row select,
.rjf-form-row textarea {
    width: 18em;
}

.rjf-form-row input[type="date"],
.rjf-form-row input[type="time"] {
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 4px 6px;
    margin-top: 0;
    color: var(--body-fg);
    background-color: var(--body-bg);
    font-size: 13px;
}
.rjf-form-group input[readonly] {
    background-color: #eee;
    outline: 0;
}

.rjf-form-row label + div {
    margin-left: 170px;
    display: table;
    width: 19.4em;
}

.rjf-file-field {
    color: #666;
}

.rjf-file-field .rjf-file-field-input {
    display: inline-block;
}
.rjf-file-field .rjf-file-field-input input {
    max-width: 18em;
}

.rjf-current-file-name {
    color: #666;
    max-width: 18em;
    margin-bottom: 0.5em;
}
.rjf-current-file-name > span {
    background-color: #eaf9ff;
    color: #071d1f;
    padding: 1px 4px;
    border-radius: 3px;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
    max-width: 9em;
    text-overflow: ellipsis;
}
.rjf-remove-file-button {
    color: #da1f1f;
    background: transparent;
    display: inline-block;
    vertical-align: middle;
    border: 0;
    cursor: pointer;
    padding: 0 1px;
}
.rjf-remove-file-button:hover {
    background-color: #ffdbdb;
    color: #b01212;
}

.rjf-form-row label input[type="checkbox"] {
    margin-top: 0;
    vertical-align: 0;
    display: inline-block;
    width: auto;
}
.rjf-form-row-controls {
    position: absolute;
    right: 0;
    top: -2px;
    z-index: 2;
}
.rjf-form-row > .rjf-form-row-controls {
    right: 0.3rem;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10rem; /* same as child button */
}
.rjf-form-row-controls:hover + .rjf-form-row-inner,
.rjf-form-row-controls:hover + .rjf-form-group {
    background-color: #fffedd;
}
.rjf-form-row-controls button {
    position: relative;
    width: 22px;
    height: 22px;
    margin-left: -1px;
    border: 0px none;
    cursor: pointer;
    background-image: url(./img/control-icons.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 40px;
    border: 1px solid #ddd;
}
.rjf-form-group-wrapper > .rjf-form-row-controls button {
    border-top: 0;
}
.rjf-form-row > .rjf-form-row-controls > button {
    border-color: #ccc;
    border-radius: 10rem;
}
.rjf-form-group-wrapper > .rjf-form-row-controls > button:first-child {
    border-bottom-left-radius: 6px;
}
.rjf-form-row-controls > button:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.rjf-form-row-controls > button:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.rjf-form-row-controls button:hover {
    background-color: #fff;
    border-color: #666;
    z-index: 1;
}
.rjf-form-row-controls button > span {
    display: none;
}
.rjf-remove-button {
    background-position: -20px 0px;
}
.rjf-remove-button:hover {
    background-position: -20px -20px;
}
.rjf-move-up-button {
    background-position: 0px 0px;
}
.rjf-move-up-button:hover {
    background-position: 0px -20px;
}
.rjf-move-down-button {
    background-position: 0px -40px;
}
.rjf-move-down-button:hover {
    background-position: 0px -60px;
}

.rjf-edit-button {
    text-indent: -9999px;
    background: url(./img/icon-changelink.svg) 0 1px no-repeat;
    width: 3px;
    height: 16px;
    border: 0px none;
    cursor: pointer;
}

.rjf-icon {
    width: 1.2em;
    height: 1.2em;
    display: inline-block;
}

.rjf-datetime-field-inner::after {
    display: table;
    content: " ";
    clear: both;
}
.rjf-datetime-field-date,
.rjf-datetime-field-time {
    float: left;
    width: 9.5em;
    padding-right: 2px;
    box-sizing: border-box;
    position: relative;
}
.rjf-datetime-field-date > div > label,
.rjf-datetime-field-time > div > label {
    display: none;
}
.rjf-datetime-field-date > div > input,
.rjf-datetime-field-time > div > input {
    width: 100%;
    margin-left: 0;
    box-sizing: border-box;
}
.rjf-time-picker {
    width: 18em;
    position: absolute;
    margin-left: -4.5em;
    margin-top: 3px;
    background-color: #fff;
    z-index: 10;
    border-radius: 4px;
    padding: 10px;
    border: 1px solid #bbb;
    box-shadow: 0 3px 12px rgba(0,0,0,0.12);
    box-sizing: border-box;
}
.rjf-time-picker * {
    box-sizing: border-box;
}
.rjf-time-picker input {
    max-width: 100%;
    width: 100%;
    text-align: center;
    font-size: 1em;
    padding: 2px 2px;
    outline: 0;
}
.rjf-datetime-field input[readonly] {
    background-color: var(--body-bg);
}
.rjf-time-picker-row {
    margin-left: -2px;
    margin-right: -2px;
}
.rjf-time-picker-row::before,
.rjf-time-picker-row::after {
    clear: both;
    content: " ";
    display: table;
}
.rjf-time-picker-col {
    display: block;
    float: left;
    padding: 0 2px;
    width: 20%;
    min-height: 1px;
}
.rjf-time-picker-col-sm {
    width: 6.666667%;
    padding: 0;
}
.rjf-time-picker button {
    display: block;
    width: 100%;
    background-color: #fff;
    color: #666;
    border: 1px solid transparent;
    line-height: 1;
    cursor: pointer;
}
.rjf-time-picker button:hover {
    color: #000;
    background-color: #eee;
    border-color: #ccc;
}
.rjf-time-picker-labels {
    text-align: center;
    color: #999;
    font-size: 0.9em;
    margin-bottom: 5px;
}
.rjf-time-picker-values {
    font-size: 1.1em;
    text-align: center;
}

.rjf-multiselect-field {
    position: relative;
}
.rjf-multiselect-field-input {
    cursor: pointer;
    padding-right: 28px !important;
    background-color: #fff !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23777777' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 6px center;
    background-size: 16px 12px;
}
.rjf-multiselect-field-options-container {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 22em;
    padding: 5px 0;
    margin-bottom: 15px;
    border-radius: 4px;
    box-shadow: 0 3px 15px rgba(0,0,0,0.12);
    max-height: 187px;
    overflow: auto;
    z-index: 100;
}

/* Django's form-row class has overflow hidden
So, if the options container is at the bottom,
it will not be fully visible.
Threfore, we'll override the overflow property.
Another solution is to user portals in React.
*/
.form-row {
    overflow: visible !important;
}
div.form-row::before,
div.form-row::after {
    content: " ";
    display: table;
    clear: both;
}
.rjf-multiselect-field-option.disabled {
    color: #999;
}
.rjf-multiselect-field-option label {
    display: block;
    float: none;
    width: 100%;
    box-sizing: border-box;
    padding: 8px 8px !important;
    color: #333;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}
.rjf-multiselect-field-option label::after {
    display: none !important;
}
.rjf-multiselect-field-option label:hover {
    background-color: #f3f3f3;
}
.rjf-multiselect-field-option.selected label {
    background-color: #fffedd;
}
.rjf-multiselect-field-option.selected label:hover {
    background-color: #f3f3d9;
}
.rjf-multiselect-field-option.disabled label {
    cursor: not-allowed;
    background-color: #fff;
}
.rjf-multiselect-field-option label > input[type="checkbox"] {
    vertical-align: middle;
    margin-right: 3px;
}

.rjf-animate {
    transition: all 0.2s ease-in-out;
}
.rjf-remove {
    opacity: 0;
    transform: translateX(10px);
}

.rjf-file-field-loading {
    margin-top: 0.6em;
    vertical-align: middle;
    display: inline-block;
}
.rjf-loader {
    clear: both;
    display: inline-block;
    margin-right: 0.1em;
    height: 0.9em;
    width: 0.9em;
    vertical-align: middle;;
    border: 2px #a7e6f0 solid;
    border-top-color: #2d6c8b;
    border-radius: 50%;
    -webkit-animation: loaderRotate .4s infinite linear;
    animation: loaderRotate .4s infinite linear;
}

@-webkit-keyframes loaderRotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}
@keyframes loaderRotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@media(max-width: 767px) {
    .rjf-form-group {
        width: calc(100vw - 30px);
        max-width: 100%;
    }

    .rjf-form-row input,
    .rjf-form-row select,
    .rjf-form-row textarea {
        width: 100%;
    }

    .rjf-form-row label input[type="checkbox"] {
        width: auto;
    }

    .rjf-form-row label + div {
        width: 100%;
    }

    .rjf-form-row > .rjf-form-row-controls {
        right: -0.4rem;
    }

    .rjf-form-row-controls + .rjf-form-row-inner {
        padding-right: 62px;
    }

    .rjf-time-picker {
        width: 100%;
        min-width: 200px;
    }

    .rjf-current-file-name {
        width: 100%;
        max-width: 100%;
        white-space: unset;
        word-wrap: anywhere;
        word-break: break-all;
    }

    .rjf-file-field-loading {
        margin-top: 0;
    }

    .rjf-datetime-field-date,
    .rjf-datetime-field-time {
        width: 50%;
    }

    .rjf-multiselect-field-options-container {
        width: calc(100% + 60px);
    }
}

@media(max-width: 1024px) {
    .rjf-form-row label + div {
        margin-left: 0;
    }

    .form-row input[type="date"],
    .form-row input[type="time"] {
        box-sizing: border-box;
        margin: 0;
        padding: 6px 8px;
        min-height: 36px;
        font-size: 14px;
    }

    .rjf-multiselect-field-input {
        padding-right: 32px !important;
        background-position: right 8px center;
    }
}
