.rjf-add-button {
    background: url(./img/icon-addlink.svg) 0 1px no-repeat;
    padding-left: 16px;
    font-size: 12px;
    color: #447e9b;
    cursor: pointer;
    margin-top: 8px;
    border: 0px none;
}
.rjf-add-button:hover {
    color: #036;
    background-color: #f0faff;
}

.rjf-form-group-wrapper {
    position: relative;
    width: 100%;
    max-width: 39em;
}
.rjf-form-group {
    margin-bottom: 15px;
    position: relative;
    width: 100%;
    max-width: 39em;
}
.rjf-form-group-wrapper > .rjf-form-group {
    max-width: 100%;
}
.rjf-form-group-inner {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 0 2px rgba(0,0,0,0.075);
    transition: background-color 0.12s ease-in-out;
}
.rjf-form-group-title {
    font-weight: bold;
}
.rjf-form-row {
    padding: 5px 0;
    display: table;
    width: 100%;
    position: relative;
}
.rjf-form-row-inner {
    transition: background-color 0.12s ease-in-out;
    padding: 5px;
}

.rjf-form-row input,
.rjf-form-row select {
    width: 18em;
}

.rjf-form-row label + div {
    margin-left: 170px;
}

.rjf-file-field {
    color: #666;
}

.rjf-file-field .rjf-file-field-input {
    display: inline-block;
}
.rjf-file-field .rjf-file-field-input input {
    max-width: 18em;
}

.rjf-current-file-name {
    color: #666;
    max-width: 18em;
    margin-bottom: 0.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.rjf-current-file-name > span {
    background-color: #eaf9ff;
    color: #071d1f;
    padding: 1px 4px;
    border-radius: 3px;
}

.rjf-form-row label input[type="checkbox"] {
    margin-top: 0;
    vertical-align: 0;
    display: inline-block;
    width: auto;
}
.rjf-form-row-controls {
    position: absolute;
    right: 0;
    top: -2px;
    z-index: 2;
}
.rjf-form-row > .rjf-form-row-controls {
    right: 0.3rem;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10rem; /* same as child button */
}
.rjf-form-row-controls:hover + .rjf-form-row-inner,
.rjf-form-row-controls:hover + .rjf-form-group {
    background-color: #fffedd;
}
.rjf-form-row-controls button {
    position: relative;
    width: 22px;
    height: 22px;
    margin-left: -1px;
    border: 0px none;
    cursor: pointer;
    background-image: url(./img/control-icons.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 40px;
    border: 1px solid #ddd;
}
.rjf-form-group-wrapper > .rjf-form-row-controls button {
    border-top: 0;
}
.rjf-form-row > .rjf-form-row-controls > button {
    border-color: #ccc;
    border-radius: 10rem;
}
.rjf-form-group-wrapper > .rjf-form-row-controls > button:first-child {
    border-bottom-left-radius: 6px;
}
.rjf-form-row-controls > button:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.rjf-form-row-controls > button:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.rjf-form-row-controls button:hover {
    background-color: #fff;
    border-color: #666;
    z-index: 1;
}
.rjf-form-row-controls button > span {
    display: none;
}
.rjf-remove-button {
    background-position: -20px 0px;
}
.rjf-remove-button:hover {
    background-position: -20px -20px;
}
.rjf-move-up-button {
    background-position: 0px 0px;
}
.rjf-move-up-button:hover {
    background-position: 0px -20px;
}
.rjf-move-down-button {
    background-position: 0px -40px;
}
.rjf-move-down-button:hover {
    background-position: 0px -60px;
}

.rjf-edit-button {
    text-indent: -9999px;
    background: url(./img/icon-changelink.svg) 0 1px no-repeat;
    width: 3px;
    height: 16px;
    border: 0px none;
    cursor: pointer;
}

.rjf-file-field-loading {
    margin-top: 0.6em;
    vertical-align: middle;
    display: inline-block;
}
.rjf-loader {
    clear: both;
    display: inline-block;
    margin-right: 0.1em;
    height: 0.9em;
    width: 0.9em;
    vertical-align: middle;;
    border: 2px #a7e6f0 solid;
    border-top-color: #2d6c8b;
    border-radius: 50%;
    -webkit-animation: loaderRotate .4s infinite linear;
    animation: loaderRotate .4s infinite linear;
}
.rjf-form-group input[readonly] {
    background-color: #eee;
    outline: 0;
}

@-webkit-keyframes loaderRotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}
@keyframes loaderRotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@media(max-width: 767px) {
    .rjf-form-group {
        width: calc(100vw - 30px);
        max-width: 100%;
    }

    .rjf-form-row input,
    .rjf-form-row select {
        width: 100%;
    }

    .rjf-form-row label input[type="checkbox"] {
        width: auto;
    }

    .rjf-form-row > .rjf-form-row-controls {
        right: -0.4rem;
    }

    .rjf-form-row-controls + .rjf-form-row-inner {
        padding-right: 62px;
    }

    .rjf-form-row label + div {
        margin-left: auto;
    }

    .rjf-current-file-name {
        width: 100%;
        max-width: 100%;
        white-space: unset;
        word-wrap: anywhere;
        word-break: break-all;
    }

    .rjf-file-field-loading {
        margin-top: 0;
    }
}