<div id="id_{{ name }}_jsonform"></div>

<textarea cols="40" id="id_{{ name }}" name="{{ name }}" rows="10" required="" style="display: none;">{{ data|safe }}</textarea>

{% url 'django_jsonform:upload' as upload_endpoint %}
<script>
(function() {
    function initJSONEditor(inlineIndex) {
        var config = {
            containerId: 'id_{{ name }}_jsonform',
            dataInputId: 'id_{{ name }}',
            fileUploadEndpoint: '{{ upload_endpoint }}',
            fieldName: '{{ name }}',
            modelName: '{{ model_name }}',
            schema: JSON.parse('{{ schema|escapejs }}'),
            data: JSON.parse('{{ data|escapejs }}'),
        };

        if (config.containerId.indexOf('__prefix__') > -1) {
            if (inlineIndex !== undefined && inlineIndex !== null) {
                config.containerId = config.containerId.replace('__prefix__', inlineIndex);
                config.dataInputId = config.dataInputId.replace('__prefix__', inlineIndex);
            }
        }

        if (config.containerId.indexOf('__prefix__') === -1) {
            var editor = new reactJsonForm.JSONForm(config);
            editor.render();
        }
    }

    if ('{{ name }}'.indexOf('__prefix__') > -1) {
        // this is an unrendered inline formset
        django.jQuery(document).on('formset:added', function(e, row, id_prefix) {
            // extract current inline's index and pass it to initJSONEditor
            initJSONEditor(row[0].id.split('-').pop());
        });
    }
    else {
        initJSONEditor();
    }
})();
</script>
