<div id="{{ widget.attrs.id }}_jsonform"></div>

<textarea cols="40" id="{{ widget.attrs.id }}" name="{{ widget.name }}" rows="10" style="display: none;">{{ widget.data }}</textarea>

<script>
(function() {
    function initJSONForm(inlineIndex) {
        var config = {
            containerId: '{{ widget.attrs.id }}_jsonform',
            dataInputId: '{{ widget.attrs.id }}',
            fileHandler: '{{ widget.file_handler }}',
            fieldName: '{{ widget.name }}',
            modelName: '{{ widget.model_name }}',
            schema: JSON.parse('{{ widget.schema|escapejs }}'),
            data: JSON.parse('{{ widget.data|escapejs }}'),
            errorMap: JSON.parse('{{ widget.error_map|escapejs }}'),
        };

        if (config.containerId.indexOf('__prefix__') > -1) {
            if (inlineIndex !== undefined && inlineIndex !== null) {
                config.containerId = config.containerId.replace('__prefix__', inlineIndex);
                config.dataInputId = config.dataInputId.replace('__prefix__', inlineIndex);
            }
        }

        if (config.containerId.indexOf('__prefix__') === -1) {
            var jsonForm = reactJsonForm.createForm(config);
            {% if widget.validate_on_submit %}
            var form = document.getElementById(jsonForm.dataInputId).form;
            form.addEventListener('submit', function(e) {
                var jsonFormDiv = document.getElementById(jsonForm.containerId);
                var errorlist = jsonFormDiv.parentElement.previousElementSibling;
                var hasError;

                if (errorlist && errorlist.classList.contains('errorlist'))
                    hasError = true;
                else
                    hasError = false;

                var validation = jsonForm.validate();

                if (!validation.isValid) {
                    e.preventDefault();

                    if (!hasError) {
                        errorlist = document.createElement('ul');
                        errorlist.setAttribute('class', 'errorlist');
                        var errorli = document.createElement('li');
                        errorli.textContent = 'Please correct the errors below.';
                        errorlist.appendChild(errorli);

                        jsonFormDiv.parentElement.parentElement.insertBefore(
                            errorlist, jsonFormDiv.parentElement
                        );
                    }

                    errorlist.scrollIntoView();
                } else {
                    if (hasError)
                        errorlist.remove();
                }
                jsonForm.update({errorMap: validation.errorMap});
            });
            {% endif %}
            jsonForm.render();
        }
    }

    if ('{{ widget.name }}'.indexOf('__prefix__') > -1) {
        // this is an unrendered inline formset
        django.jQuery(document).on('formset:added', function(e, row, id_prefix) {
            // extract current inline's index and pass it to initJSONForm
            initJSONForm(row[0].id.split('-').pop());
        });
    }
    else {
        initJSONForm();
    }
})();
</script>
